/*Обнуление*/
* {padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style-type: none}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

/*    Header    */
body {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	color: #8A8FAC;
}


.header {
	background-color: #FBFBFB;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.header__container {
	padding: 25px 0 25px 0;
	margin: 0 auto;
	width: 1200px;
	background-color:#FBFBFB;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 16px;
	color: #000000;
	font-weight: 400;
}


.navigation__list {
	display: flex;
}

.navigation__item:not(:last-child) {
margin-right: 35px;
}


.navigation__link {
	color: #000000;
}

.navigation__link:hover {
	color: #FBD214;
	transition: 0.1s;
}


/*    Preview    */

.preview {
	background-color: #FBFBFB;
	height: 550px;
}

.preview__container {
	display: flex;
}

h1 {
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 70px;
	color: #32333C;
}

h3 {
	font-size: 25px;
	color: #666666;
}

.preview__container__left {
	margin-top: 250px;
}




/*    About    */

.about {
	height: 350px;
}


.about__container {
	display: flex;
	justify-content: center;
	margin-top: 100px
}

.about__left {
	width: 35%;
}



h2 {
	font-weight: 700;
	font-size: 45px;
	color: #32333C;
}

.line-left {
	margin-top: 100px;
	margin-left: 90px;
}


.line-left::after {
	content: "";
	display: block;
	width: 90px;
	padding-top: 1	0px;
	border-bottom: 4px solid #FBD214;
 }

.about__right {
	width: 55%;
	color: #8A8FAC;
	font-size: 20px;
}

.text-bottom {
	margin-top: 35px;
}




/*    Skills    */

.skills {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FBFBFB;
	color: #FFFFFF;
}


.skills__container {
	height: 370px;
	width: 1200px;
	background-color: #FBD214;
	border-radius: 15px;
	font-size: 20px;
}


.skills-list {
	margin-top: 30px;
	display: flex;
}

.skills-block {
padding-top: 70px;
padding-left: 80px	;
}


.skills-title {
	font-size: 35px;
}




.skills-item::before {
	content: '<';
	font-family: sans-serif;
	color: white;
}

.skills-item::after {
	content: '>';
	font-family: sans-serif;
}


.skills-list li {
margin-bottom: 25px;
}

.column-1 {
	width: 25%;
}

.column-2 {
	width: 25%;
}




/*    Projects    */

.projects {
	height: 600px;
	padding-top: 70px;
}


.projects__container {
	display: flex;
	justify-content: center;
}



.title-main {
	position: relative;
	margin-bottom: 80px;
}

.title-center::after {
	content: "";
	position: absolute;
	height: 4px;
	width: 110px;
	background-color: #FBD214;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
}


.projects-item {
	margin-top: 60px;
	display: flex;
}

.project-img {
	width: 670px;
	height: 305px;
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
	0 0  0 2px rgb(255,255,255),
	0.3em 0.3em 1em rgba(0,0,0,0.3);;
}


.project-info {
	width: 300px;
}

.project-title {
	color: #32333C;
	font-size: 30px;
	font-weight: 500;
}

.technologies {
margin: 10px 0;
font-size: 20px;
font-weight: 300;
}

.project-des {
margin-bottom: 45px;
}


.project-info {
	margin-left: 40px;
}

.project-button {
font-size: 18px;
padding: 10px 25px;
background-color: #FBD214;
color: #FBFBFB;
border-radius: 10px;
}




/*    code example    */

.code {
	height: 500px;
}

.code__container {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}


.code-right {
	position: relative;
	margin-top: 150px;
	margin-left: 150px;
}



.code-exmp {
	font-size: 20px;
	left: 0;
	bottom: 40px;
}





/*    education    */


.education {
	background-color: #FBFBFB;
	height: 700px;
}

.education__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
}


.education-item {
	width: 400px;
	height: 400px;
	padding: 70px 50px 0;
	background-color: #FFFFFF;
	border: solid 1px #EDECEC;
}


.education-professions {
	margin-top: 7px;
	margin-bottom: 12px;
	color: #32333C;
	font-weight: 700;
	font-size: 22px;
}

.education-place {
	text-decoration: none;
	color:#8A8FAC;
}

.education-desc {
	margin-top: 25px;
}



/*    Language    */

.language {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.language__container {
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 800px;
	padding: 50px 30px;
	background-color: #FBD214;
	border-radius: 10px;
	color: #FBFBFB;
	font-size: 20px;
}


.language__list {
	display: flex;
}


.language__title {
	font-size: 28px;
	font-weight: 600;
}


.laguage__item {
	margin-top: 30px;
	margin-right: 45px;
}

.laguage__caption {
	font-weight: 600;
}

.language__level {
font-size: 18px;
}


/*    footer    */

footer {
	background-color: #FBFBFB;
}

.contact__container {
	height: 100px;
	display: flex;	
	justify-content: space-around;
	align-items: center;
}


.contact__links {
	width: 450px;
	display: flex;
	align-items: center;
}

.contact__list {
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.RS-school {
	margin-left: 70px;
}